[Unit]
Description=eBilal API Service
After=multi-user.target

[Service]
User=pi
Group=pi
Type=idle
WorkingDirectory=/opt/ebilal/
ExecStart=uvicorn ebilal_api:app --reload  --host 0.0.0.0
Restart=always

[Install]
WantedBy=multi-user.target
